* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

section {
  padding: 70px 20px;
}

#home {
  text-align: center;
}

.buttons a {
  margin: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
